
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 0 auto;
    background-color: #F0D399;
    min-height: 800px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}
.main > article {
    background: #B39C82;
    flex: 3 1 60%;
    order: 2;
}

.main > nav {
    margin: 4px;
    padding: 5px;
    background: #F0D399;
    flex: 1 6 20%;
    order: 1;
}

.main > aside {
    margin: 4px;
    padding: 5px;
    background: #F0D399;
    flex: 1 6 20%;
    order: 3;
}
.poster {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
}
#error{
    color: #ff2c34;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
}

@media all and (max-width: 640px) {
    .main{
        flex-direction: column;
    }

    .main > article, .main > nav, .main > aside {
        /* Return them to document order */
        order: 0;
    }

    .main > nav, .main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}
