@import 'https://fonts.googleapis.com/css?family=Tinos:400,700';
body{
    font-family: 'Tinos', serif;
}
.message{
    font-size: 24px;
    color: black;
}
.errorImage{
    margin-top: 15%;
    padding-bottom: 5%;
}
.text {
    padding-left: 5px;
}