#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    margin-top:50px;
    margin-bottom:50px;
}

h2{
    text-align:center;
    color:#fff;
}
.add-show-form-wrapper{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.adding-form{
    background: rgba(185, 201, 156, 0.46);
    padding: 2px 20px;
}