@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Tinos:400,700';
@import 'https://fonts.googleapis.com/css?family=Amatic+SC';

body {
    color: black;
}

h1, h3 {
    margin-left: 20px;
    font-family: 'Tinos', serif;
}

.posterBlock {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    font-size: 24px;
    padding-bottom: 5px;
    color: #494141;
    font-weight: bold;
}
a.title:hover{
    color: #F0D399;
}


.affix-top {
    position: static;
    margin-top:20px;
}

.affix {
    position: fixed;
    top:120px;
}

.infoWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #9e8a73;
    padding: 3%;
}

.table-hover tbody tr:hover td {

    background-color: #f0d399;
}
.type {
    color: #50434d;
    font-size: 14px;
}

.table.table-hover>tbody>tr>td {
    border-top: 1px solid #f0d399;
}
.infoTable {
    border: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    font-size: 18px;
}

.posterBlock > img {
    max-width: 100%;
    height: auto;
}

.posterBlock {
    margin-right: 10%;

}

.synopsis, .rating {
    margin-top: 2%;
    padding: 2%;
    font-family: 'Tinos', serif;

}
.rating-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
a.fa.fa-star, a.fa.fa-star-o {
    font-size: 32px;
}


.review {
    margin-right: 10%;
    margin-left: 5%;
    padding: 10px;
    background-color: #cde0af;
    color: black;
}

.synopsis-content, .rating-content {
    margin-right: 10%;
    margin-left: 5%;
    padding: 10px;
    font-size: 16px;
    color: black;
    background-color: #9e8a73;
}
.rating-content {
    background-color: #F0D399;
    text-align: center;
}
.reviewContent {
    padding: 20px;
    font-family: 'Tinos', serif;
}

td {
    padding: 5px;
}

table {
    font-family: 'Tinos', serif;
    font-size: 16px;
}

@media screen and (max-width: 640px) {
    .infoWrapper {
        flex-direction: column;
        align-items: center;
    }
}